# This runs opencode *only*, assuming ollama or another Provider is already standing up, possibly even remotely.

services:
  opencode:
    build: .
    image: opencode:local
    container_name: opencode-agent
    working_dir: /workspace
    volumes:
      - ..:/workspace
      # Needed for opencode stores
      - ~/.config/opencode:/root/.config/opencode
      - ~/.local/share/opencode:/root/.local/share/opencode
      # Needed for avahi
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
      - /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket
    stdin_open: true
    tty: true
    # env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
